@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Allura');


:root {
    --page-color: #FCFFFF;
    --our-experiences-color: #F4C284;
    --captions-color: #7A1600;
    --destinations-color: #F5F5F5;
}

html {
    padding: 0;
    margin: 0;
    background-color: var(--page-color);
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.noticeable-font {
    color: var(--captions-color);
    font-family: "Allura", sans-serif;
    font-size: x-large;
}

.bold {
    font-weight: bold  !important;
}

nav {
    width: 1200px;
}

nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    height: 3.2em;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 10%;
    height: 100%;
}

nav ul li a {
    display: flex;
    color: purple;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
    
nav ul li  img{
    object-fit: contain;
    max-height:100%;
}

.banner-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 98vw;
    margin: 0;
    height: 460px;
}


.banner-area div {
    color: white;
    font-size: xx-large;
}

#fly-with-us {
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 110px;
}

#fly-with-us:hover {
    color: white;
    background-color: black;
    border-style: solid;
    border-color: var(--captions-color);
}

main {
    padding: 0;
    width: 100%;
}


.our-destinies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, p {
    text-align: center;
}

.grid-destinies {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 15px 15px;
    width: 90%;
    
}

.grid-destinies .destiny-box {
    grid-column: span 1;
}

.grid-destinies .destiny-box .second-row {
    grid-column: span 1;
    grid-row: 2;
}

.wider-image {
    grid-column: span 2 !important;
}

.grid-destinies .destiny-box {
    background-color: var(--destinations-color);
    border-style: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

.grid-destinies div div {
    margin: 10px 0;
    text-align: center;
}

.grid-destinies div a {
    background-color: white;
}

.destiny-image {
    position: relative;
    margin: 0 !important;
}

.destiny-image img {
    height: 300px;
    object-fit: contain;
}

.destiny-image div {
    position: absolute;
    width: 100%;
    height: 50%; 
    line-height: 0;
    transform: translate(-0%, -100%);
}

.destiny-image+div {
    background-color: white;
    margin: 0 !important;
    padding: 10px 0;
    width: 100%;
}

.destiny-image div span {
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
    padding: 0 9px;
    font-size: x-large;
    font-weight: bold;
    opacity: 0.5;
}

.grid-destinies div .offer {
    color: red;
    background-color: var(--destinations-color);
}

.grid-destinies div a {
    text-align: center;
    background-color: white;
    padding: 10px 0;
    width: 100%;
}



.yellow-background {
    background-color: var(--our-experiences-color);
    width: 98vw;
    margin: 5% 0 10px 0;
}





.our-experiences {
    text-align: center;
    display: grid;
    grid-template-areas: "h2 h2 h2"
    "p p p"
    "first-image second-image third-image";
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px;
    width: 1100px;
}

.h2-experiences {
    grid-area: h2;
}

.p-experiences {
    grid-area: p;
    width: 850px;
    justify-self: center;
}


.flex-experiences .group-experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.our-experiences .group-experiences .first-image {
    grid-area: first-image;
}

.our-experiences .group-experiences .second-image {
    grid-area: second-image;
}

.our-experiences .group-experiences .third-image {
    grid-area: third-image;
}

.our-experiences .group-experiences div {
    margin: 20px 0;
}


.our-experiences .group-experiences .experiences-images img {
    object-fit: cover;
    width: 200px;
    max-height: 200px;
    border-radius: 50%;
}










footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: inherit;
}

.footer-groups, .footer-groups address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.footer-groups div{
    margin: 10px 0;
}

footer i {
    display: inline;
}
